.comment{
	padding: 30px 150px;
}
.comment .comment_head{
	 line-height: 35px;
    background: #27282217;
    border-radius: 5px;
    text-indent: 10px;
    font-weight: bold;
    font-size: 16px;
}
.comment .comment_head span{
	float: right;
    font-size: 13px;
    font-weight: normal;
    color: #908d8d;
    margin-right: 15px;
    vertical-align: bottom;
    margin-top: 10px;
    line-height: 25px;
}
.comment .comment_list{
	padding: 1rem 1rem;
    color: #666666;
}

.comment .comment_add{
	margin-top: 20px;
}
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-primary {
    color: #fff;
    background-color: grey;
    border-color: grey;
    cursor: pointer;
}
.float-right {
    float: right!important;
}
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.reply_cancel{
	display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    color: #ffffff;
    border-radius: 0.1875rem;
    border: none;
    font-size: 0.875rem;
    cursor: pointer;
    margin-right: 0.7rem;
    background: #ccc8c8;
}
.mb-3, .my-3 {
    margin-bottom: 1rem !important;
}
.mt-3, .my-3 {
    margin-top: 1rem !important;
}
.col-md-6 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.comment_add .title {
	padding-bottom: 1.0rem;
	font-size: 1.1875rem;
	margin-bottom: 0;
	border-bottom: 0.0625rem solid #f0f0f0;
}
.comment_add .comment {
	list-style: none;
	padding: 0.625rem 0;
}
.comment_add .comment .avatar {
	vertical-align: middle;
}
.comment_add .comment .avatar img {
	display: block;
	height: 3.125rem;
	width: 3.125rem;
	border-radius: 50%;
	border: 0.0625rem solid #eaeaea;
}
.comment_add .comment .info {
	overflow: hidden;
}
.comment_add .comment .info .author_name {
	color: #4A4A4A;
	font-weight: 500;
	font-size: 1rem;
	line-height: 1.375;
	margin: 0 0 0.3125rem;
	font-style: normal;
	display: inline-block;
	margin-top: 0.1875rem;
}
.comment_add .comment .info .content {
	font-size: 0.875rem;
	margin-bottom: 0!important;
}
.comment_add .comment .info .content p {
	margin: 0;
}
.comment_add .comment .info .meta, .comment_add .comment .info .meta a {
	font-size: 0.78rem;
	color: #9B9B9B;
}
.comment_add .children {
	padding: 0.3125rem 0 0 1.25rem;
	margin-left: 2.375rem;
}
.comment_add .ajaxchild {
	margin-top: -0.625rem;
	margin-left: 2.375rem;
}
.comment_add .children .children {
	margin-left: -1.25rem;
}
.comment_add .children .comment {
	padding: 0.3125rem 0;
}
.comment_add .children .comment .avatar {
	display: none;
}
.comment_add .children .info .author_name {
	float: left;
	font-size: 0.875rem;
	line-height: 1.875rem;
	margin-top: 0;
}
.comment_add .children .info .author_name:after {
	content: "\3A";
	color: #71777c;
	margin-left: 0.3125rem;
	margin-right: 0.3125rem;
}
.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.comment_add .form-control {
	border-radius: 0.1875rem;
}
.comment_add  .comment-textarea {
	border: 0.0625rem solid #e5e5e5;
	background-color: hsla(0,0%,71%,.1);
	border-radius: 0.1875rem;
}
.comment_add  .comment-textarea textarea {
	border: none;
	height: 8.125rem;
	border-radius: 0;
	resize: none;
}
.comment_add  .comment-textarea .text-bar {
	padding: .4rem .5rem;
	background-color: #f8f8f8;
	overflow: hidden;
}
.comment_add  .comment-textarea .text-bar .tool {
	padding-top: 0.3rem
}
.comment_add  .comment-textarea .btn-primary {
	border-radius: 0.1875rem;
	border: none;
	font-size: 0.875rem;
	width: 6.25rem;
}
.comment_add  .comment-textarea .addbtn {
	padding: 0 0.5rem;
	color: #888;
}
.comment_add  .comment-textarea .addbtn:hover {
	color: #333;
}
.comment_add  .comment-textarea #cancel-comment-reply-link {
	display: inline-block;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	user-select: none;
	padding: 0.375rem 0.75rem;
	line-height: 1.5;
	color: #fff;
	background-color: rgba(0,0,0,.3);
	;
    border-radius: 0.1875rem;
	border: none;
	font-size: 0.875rem;
}
.comment_add  .comment-textarea .text-bar .open {
	visibility: visible;
	transform: none;
}
@media (min-width: 768px){
	.col-md-6 {
	    -webkit-box-flex: 0;
	    -ms-flex: 0 0 50%;
	    flex: 0 0 50%;
	    max-width: 50%;
	}
	.mt-md-0, .my-md-0 {
	    margin-top: 0 !important;
	}
}
@media (max-width: 768px){
	.comment{
		padding: 45px 40px;
	}
}
@media (min-width: 1400px){
	.comment{
		padding: 45px 200px;
	}
}
@media (min-width: 1900px){
	.comment{
		padding: 45px 250px;
	}
}
@media (min-width: 2570px){
	.comment{
		padding: 45px 350px;
	}
}
.comment .comment_list li{
    padding: 1rem 0;
    border-bottom: 0.0625rem solid #f0f0f0;
}
.comment .comment_list li:last-child{
	border-bottom: none;
}
.comment .comment_list li .lh15{
	line-height: 1.6rem;
}
.comment .comment_list li .name_title{
	font-weight: bold;
    font-size: 17px;
}
.comment .comment_list li .c_content{
	color: #4a4a4a;
    font-size: 15px;
}
.comment .comment_list li .c_content em{
	color: #868679;
}
.comment .comment_list li .c_time{
	color: #9B9B9B;
    font-size: 13px;
    position: relative;
}
.comment .comment_list li .reply{
	position: absolute;
    right: 0.6rem;
    bottom: 0;
    width: 50px;
    text-align: center;
    font-size: 13px;
    cursor: pointer;
    color: #9B9B9B;
}
.comment .comment_list li .rep_comment{
	margin-left: 2.2rem;
    padding-top: 0.5rem;
}
.comment .comment_load{
	padding: 1rem 0;
    text-align: center;
}
.comment .comment_load a{
	display: inline-block;
    width: 9rem;
    height: 2.3rem;
    border-radius: .125rem;
    color: #fff;
    font-size: .95rem;
    line-height: 2.4;
    transition: all .15s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: none;
    background-color: #495056;
    cursor: pointer;
}
@-webkit-keyframes scale {
	0% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1)
	}

	45% {
		opacity: .7;
		-webkit-transform: scale(.1);
		transform: scale(.1)
	}

	80% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1)
	}
}
@keyframes scale {
	0% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1)
	}

	45% {
		opacity: .7;
		-webkit-transform: scale(.1);
		transform: scale(.1)
	}

	80% {
		opacity: 1;
		-webkit-transform: scale(1);
		transform: scale(1)
	}
}
.loading-box>div:nth-child(0) {
	-webkit-animation: scale .75s 0s infinite cubic-bezier(.2,.68,.18,1.08);
	animation: scale .75s 0s infinite cubic-bezier(.2,.68,.18,1.08)
}

.loading-box>div:nth-child(1) {
	-webkit-animation: scale .75s .12s infinite cubic-bezier(.2,.68,.18,1.08);
	animation: scale .75s .12s infinite cubic-bezier(.2,.68,.18,1.08)
}

.loading-box>div:nth-child(2) {
	-webkit-animation: scale .75s .24s infinite cubic-bezier(.2,.68,.18,1.08);
	animation: scale .75s .24s infinite cubic-bezier(.2,.68,.18,1.08)
}

.loading-box>div:nth-child(3) {
	-webkit-animation: scale .75s .36s infinite cubic-bezier(.2,.68,.18,1.08);
	animation: scale .75s .36s infinite cubic-bezier(.2,.68,.18,1.08)
}

.loading-box>div {
	display: inline-block;
	margin: .125rem;
	width: .4375rem;
	height: .4375rem;
	border-radius: 100%;
	background-color: #fff;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both
}

.comment .reward{
	width: 80%;
    height: 5rem;
    background: #ffffff;
    padding-right: 12rem;
    margin: 0 auto;
    margin-bottom: 1.5rem;
    border-radius: 0.5rem;
    display: table;
    position: relative;
}
.comment .reward .reward_tip{
	width: 100%;
    height: 5rem;
    color: #969494;
    text-align: center;
    font-size: 1.2rem;
    line-height: 2rem;
    display: table-cell;
    vertical-align: middle;
    padding: 0 0.5rem;
}
.comment .reward .reward_btn{
	position: absolute;
    width: 12rem;
    height: 5rem;
    right: 0;
    padding: 1.3rem 0 1.3rem 1rem;
}
.comment .reward .reward_btn a{
	display: inline-block;
    line-height: 2.4rem;
    width: 5.5rem;
    text-align: center;
    border: .0625rem solid #495056;
    border-radius: 0.185rem;
    color: #495056;
    cursor: pointer;
}
.comment .reward_layer_shade{
	position: fixed;
	z-index: 999;
    background-color: rgb(0, 0, 0);
    opacity: 0.3;
	top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.comment .reward_layer{
	position: fixed;
    z-index: 1000;
    width: 300px;
    height: 370px;
    top: 50%;
    margin-top: -185px;
    left: 50%;
    margin-left: -150px;
    background: #ffffff;
}
.comment .reward_layer .layui-layer-setwin{
	position: absolute;
    right: 15px;
    top: 15px;
    font-size: 0;
    line-height: initial;
}
.comment .reward_layer .layui-layer-setwin .layui-layer-close{
	position: relative;
    width: 16px;
    height: 16px;
    margin-left: 10px;
    font-size: 12px;
    cursor: pointer;
    background: url(../images/icon.png) no-repeat;
    background-position: 1px -40px;
    display: inline-block;
    vertical-align: top;
}
.comment .reward_layer .layui-layer-title{
	padding: 0 80px 0 20px;
    height: 42px;
    line-height: 42px;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    color: #333;
    overflow: hidden;
    background-color: #F8F8F8;
    border-radius: 2px 2px 0 0;
}
.mb-2,.my-2 {
    margin-bottom: .5rem!important
}
.donate-box .meta-pay {
    margin-top: .875rem;
    margin-bottom: .875rem;
    text-align: center;
}
.donate-box .qr-pay{
	text-align: center;
}
.donate-box .qr-pay img {
    width: 12.5rem;
    height: 12.5rem
}
.donate-box .choose-pay{
	text-align: center;
	margin-top: 0.5rem;
}
.donate-box .choose-pay input {
    display: none
}
.donate-box .choose-pay input:checked+label {
    border-color: #0092ee;
    color: #0092ee
}
.donate-box .pay-button {
	display: inline-block;
    margin: .625rem .3125rem;
    width: 8.25rem;
    height: 2.8125rem;
    border: .0625rem solid #e6e6e6;
    border-radius: .125rem;
    text-align: center;
    line-height: 2.5rem;
    cursor: pointer
}
.donate-box .pay-button img {
    height: 1.6rem!important
}
@media (max-width: 1000px){
	.comment .reward{
		width: 90%;
	    padding-right: 8rem;
	    margin-bottom: 1.5rem;
	    display: table;
	}
	.comment .reward .reward_tip{
	    font-size: 1.1rem;
	    line-height: 2rem;
	    padding: 0 0.5rem;
	}
	.comment .reward .reward_btn{
	    width: 8rem;
	}
}




