<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="keywords" content="sass2css,css2sass,less2css,css2less,sass-less转css">
<title>SASS/LESS/CSS在线转换</title>
<link href="../css/common.css" rel="stylesheet">
<link href="../css/index.css" rel="stylesheet">
<script type="text/javascript" src="../plugins/jquery-3.3.1.min.js"></script>
<script  type="text/javascript" src="../plugins/ace/ace.js"></script>
<script type="text/javascript" src="../js/index.js"></script>
</head>
<body>
	
	<header>
		<div class="main">convert</div>
		<div class="head_nav">
            <ul>
                <li class="active" mode="one">CSS -&gt; SCSS/LESS</li>
                <li mode="two">SCSS/LESS -&gt; CSS</li>
                <li mode="three">批量SCSS/LESS -&gt; CSS</li>
            </ul>
    	</div>
	</header>
	
	<div class="content">
		<div id="mode_one">
			<ul class="editor_ul">
				<li>
					<span class="top_span">CSS  <em>请输入或粘贴你的css代码</em><span id="cssDemo" class="cssDemo">演示代码</span></span>
					<div class="editorl" id="one_css_editor"></div>
				</li><li>
					<span class="top_span" id="covert_type" ct_type="scss">
						<div class="ckBox">
					      <input type="checkbox" value="None" id="scss_box" name="check" checked>
					      <label for="scss_box"></label>
					    </div>&nbsp;&nbsp;SCSS&nbsp;&nbsp;
					    <div class="ckBox">
					      <input type="checkbox" value="None" id="less_box" name="check" >
					      <label for="less_box"></label>
					    </div>&nbsp;&nbsp;LESS&nbsp;&nbsp;
					    <em>请选择需要转换的类型</em>
					</span>
					<div class="editorl" id="one_other_editor"></div>
				</li>
			</ul>
			<div class="opreator_area">
				<span class="variable_area"><ul id="vars" style="display: none;"></ul><em class="no_var_tip">暂未添加变量</em></span>
				<span class="var_add">
					<span class="addfirst">
						<em>变量名:&nbsp;<input type="text" placeholder="请输入变量名" id="varName"></input></em>
						<em>变量值:&nbsp;<input type="text" placeholder="请输入变量值" id="varValue"></input></em>
					</span><span class="addlast" id="doAdd">+</span>
				</span><span class="do_area">
					<em>
						<div class="ckBox">
					       <input type="checkbox" value="None" id="removeHacks" name="check">
					       <label for="removeHacks"></label>
					    </div>&nbsp;&nbsp;去除Hacks和前缀
					</em>
					<em>
						<a id="do_convert" >转换</a>
					</em>
				</span>
			</div>
		</div>
		<div id="mode_two" style="display:none;">
			<ul class="editor_ul">
				<li>
					<span class="top_span" id="other_covert_type" ct_type="scss">
						<div class="ckBox">
					      <input type="checkbox" value="None" id="scss_check" name="check" checked>
					      <label for="scss_check"></label>
					    </div>&nbsp;&nbsp;SCSS&nbsp;&nbsp;
					    <div class="ckBox">
					      <input type="checkbox" value="None" id="less_check" name="check" >
					      <label for="less_check"></label>
					    </div>&nbsp;&nbsp;LESS&nbsp;&nbsp;
					    <em>请选择代码类型并输入或粘贴你的代码</em><span id="otherDemo" class="cssDemo">演示代码</span>
					</span>
					<div class="editorl" id="two_other_editor"></div>
				</li><li>
					<span class="top_span">CSS  <em>这里是转换后的css代码</em></span>
					<div class="editorl" id="two_css_editor"></div>
				</li>
			</ul>
			<div class="two_convert" id="two_convert">转换</div>
		</div>
		<div id="mode_three" style="display:none;">
			<div class="upload_area">
				<p class="tips">请选择类型，并将需要转换的文件放到同一个文件夹中压缩成.rar或者.zip格式后上传</p>
				<div id="three_covert_type" ct_type="scss">
					<div class="ckBox">
					      <input type="checkbox" value="None" id="scss_file" name="check" checked>
					      <label for="scss_file"></label>
					    </div>&nbsp;&nbsp;SCSS&nbsp;&nbsp;
					    <div class="ckBox">
					      <input type="checkbox" value="None" id="less_file" name="check" >
					      <label for="less_file"></label>
					    </div>&nbsp;&nbsp;LESS&nbsp;&nbsp;
					<a  class="upload_a">选择文件
					    <input class="input_file" type="file"  accept=".rar,.zip" id="upload_file"/>
					</a>
				</div>
				<div class="file_info" style="display:none;">
					文件名称:&nbsp;<em id="filename"></em> &nbsp;&nbsp;&nbsp;文件大小:&nbsp;<em id="filesize"></em><br>
					<a id="file_convert" class="file_convert">开始转换</a>
				</div>
			</div>
		</div>
	</div>
	
	<footer>
		<p>本网站提供sass/less/css代码的在线转换，无需安装复杂的编译环境, 简单快捷。 如果您有任何问题或建议，请 <a href="mailto:luoxmc@vip.qq.com">点击这里</a> 给我发送邮件</p>
	</footer>
	
	<div class="error_tip" id="error_msg" style="display:none;"></div>
	
	<div id="cssDemoCode" style="display:none;">/* Outside Comment */
header {
	padding:20px;
}
header h1 { /* Nesting */
	font-size:24px;
	_font-size: 25px;
	*font-size: 26px;
	-webkit-box-shadow: 0 0 0 rgba(0,0,0,0.9);
	-ms-box-shadow: 0 0 0 rgba(0,0,0,0.9);
	-moz-box-shadow: 0 0 0 rgba(0,0,0,0.9);
	-o-box-shadow: 0 0 0 rgba(0,0,0,0.9);
	box-shadow: 0 0 0 rgba(0,0,0,0.9);
}
header h1 a {
	text-decoration:none;
}
header h1 a:hover { /* Pseudo-classes */
	text-decoration:underline;
	/* Data URL */
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAAAXRSTlMAQObYZgAAAApJREFUCNdjYAAAAAIAAeIhvDMAAAAASUVORK5CYII=) 0 0 no-repeat;
}
header h1 a:hover span {
	color: #f00;
}
header img {
	border:none;
}
header img.glow { /* Classes */
	border:solid 1px #f00;
}
	</div>
	<div id="scssDemoCode" style="display:none;">$rgbColor:rgba(0,0,0,0.9);
$f0:#f00;
/* Outside Comment */
header {
  padding: 20px;
  h1 {
    /* Nesting */
    font-size: 24px;
    _font-size: 25px;
    *font-size: 26px;
    -webkit-box-shadow: 0 0 0 $rgbColor;
    -ms-box-shadow: 0 0 0 $rgbColor;
    -moz-box-shadow: 0 0 0 $rgbColor;
    -o-box-shadow: 0 0 0 $rgbColor;
    box-shadow: 0 0 0 $rgbColor;
    a {
      text-decoration: none;
      &:hover {
        /* Pseudo-classes */
        text-decoration: underline;
        /* Data URL */
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAAAXRSTlMAQObYZgAAAApJREFUCNdjYAAAAAIAAeIhvDMAAAAASUVORK5CYII=) 0 0 no-repeat;
        span {
          color: $f0;
        }
      }
    }
  }
  img {
    border: none;
    &.glow {
      /* Classes */
      border: solid 1px $f0;
    }
  }
}
	</div>
	<div id="lessDemoCode" style="display:none;">@foColor:#f00;
@rgb09:rgba(0,0,0,0.9);
/* Outside Comment */
header {
  padding: 20px;
  h1 {
    /* Nesting */
    font-size: 24px;
    _font-size: 25px;
    *font-size: 26px;
    -webkit-box-shadow: 0 0 0 @rgb09;
    -ms-box-shadow: 0 0 0 @rgb09;
    -moz-box-shadow: 0 0 0 @rgb09;
    -o-box-shadow: 0 0 0 @rgb09;
    box-shadow: 0 0 0 @rgb09;
    a {
      text-decoration: none;
      &:hover {
        /* Pseudo-classes */
        text-decoration: underline;
        /* Data URL */
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABAQMAAAAl21bKAAAAA1BMVEUAAACnej3aAAAAAXRSTlMAQObYZgAAAApJREFUCNdjYAAAAAIAAeIhvDMAAAAASUVORK5CYII=) 0 0 no-repeat;
        span {
          color: @foColor;
        }
      }
    }
  }
  img {
    border: none;
    &.glow {
      /* Classes */
      border: solid 1px @foColor;
    }
  }
}
	</div>
	
</body>
</html>