<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="keywords" content="sass2css,css2sass,less2css,css2less,sass-less转css">
<title>SASS/LESS/CSS在线转换</title>
<link href="../css/common.css" rel="stylesheet">
<link href="../css/index.css" rel="stylesheet">
<script type="text/javascript" src="../plugins/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../js/index.js"></script>
</head>
<body>
	
	<header>
		<div class="main">convert</div>
		<div class="head_nav">
            <ul>
                <li>CSS -&gt; SCSS/SASS/LESS</li>
                <li>SCSS/SASS/LESS -&gt; CSS</li>
                <li>批量SCSS/SASS/LESS -&gt; CSS</li>
            </ul>
    	</div>
	</header>
	
	<div class="content">
		<p>sass</p>
		<textarea style="width:800px;height:400px;" id="code">
			
		</textarea>
		<div id="submit">submit</div>
	</div>
	
	<footer>
	
	</footer>
	
</body>
</html>